@if (field()?.type === "text") {
    <mat-form-field>
        <input matInput [placeholder]="field()?.label || ''" [formControl]="control()!">
    </mat-form-field>
}
@if (field()?.type === "textarea") {
    <mat-form-field class="json-form-input">
        <textarea matInput [placeholder]="field()?.label || ''" [formControl]="control()!"></textarea>
    </mat-form-field>
}
@if (field()?.type === "dropdown") {
    <mat-form-field>
        <mat-label>{{ field()?.label }}</mat-label>
        <mat-select [formControl]="control()!">
          @for (option of field()?.options || []; track option) {
            <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-select>
    </mat-form-field>
}
@if (field()?.type === "checkbox") {
    <section>
        <mat-checkbox [formControl]="control()!">
        {{ field()?.label }}
        </mat-checkbox>
    </section>
}
@if (field()?.type === "radio") {
    <mat-radio-group [ariaLabel]="field()?.label || ''" [formControl]="control()!">
        <mat-label>{{ field()?.label }}</mat-label>
        @for (option of field()?.options || []; track option) {
            <mat-radio-button [value]="option">{{ option }}</mat-radio-button>
        }
    </mat-radio-group>
}